@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin: 0px;
}

html{
  font-family: "Roboto", sans-serif;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-div{
  border: 2px solid hsla(0, 0%, 0%, 0.507);
  text-align: center;
  border-radius: 37px;
}

.title{
  padding: 10px 20px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  font-size: 3rem;
  font-weight: bold;
  background-color: gold;
}

.menu, .last{
  font-size: 2rem;
  padding: 5px 20px;
  border-top: 2px solid hsla(0, 0%, 0%, 0.507);
}

.menu:hover, .last:hover{
  background-color: papayawhip;
  cursor: pointer;
}

.last:hover{
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
}

